html, body {
  height: 100%;
  margin: 0;
  user-select: none;
}

@font-face {
  font-family: exo2;
  src: url(exo2.ttf);
}

.mainContainer {
  width: 100%;
  height: 100%;
  background-color: red;
}

.effectsContainer {
  height: calc(100% - 60px);
  width: calc(100% - 30px);
  background-color: green;
  margin: 0 auto;
  overflow: scroll;
}

.indent {
  width: 100%;
  height: 50px;
  background-color: blue;
}

.commonEffectContainer {
  width: 100%;
  border-radius: 20px;
  border-color: black;
  border-style: solid;
  background-color: white;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.active {
  background-color: black;
}

.active p {
  color: #fff;
}

.effectName {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: exo2;
  font-size: 30px;
}

.settingsEffectContainer {
  width: 100%;
  background-color: gold;
}

.effectSliderWrapper {
  width: 90%;
  height: 28px;
  background-color: aqua;
  margin: 10 auto;
}

.hsvSlider {
  -webkit-appearance: none;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url(hsv.svg);
  outline: none;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  background-size: 100%;
}

.hsvSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: white;
}

.saturationSlider {
  -webkit-appearance: none;
  margin: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #e66465, #9198e5);
  outline: none;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  background-size: 100%;
}

.saturationSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: white;
}

.speedSlider {
  -webkit-appearance: none;
  margin: 0;
  width: 100%;
  height: 100%;8e5);
  outline: none;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  background-size: 100%;
}

.speedSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: black;
}

.controllCenter {
  width: 100%;
  height: 60px;
  display: flex;
  background-color: pink;
}

.brightnessContainer {
  background-color: yellow;
  width: calc(100% - 60px);
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brightnessSlider {
  -webkit-appearance: none;
  width: 90%;
  height: 30px;
  outline: none;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  overflow: hidden;
}

.brightnessSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    box-shadow: -100vw 0 0 100vw black;
}

.powerContainer {
  background-color: violet;
  width: 60px;
  height: 100%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.powerButtonImage {
  width: 30px;
  height: 30px;
}

.wifiText1 {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 6px;
  font-family: sans-serif;
  font-size: 60px;
  color: fff;
  font-weight: 700;

}

.wifiText2 {
  margin-left: 20px;
  font-family: sans-serif;
  font-size: 30px;
  color: fff;
}

.wifiInput {
  width: 90%;
  background-color: fff;
  height: 30px;
  margin: auto;
  display: block;
  justify-content: center;
  border-radius: 15px;
  margin-top: 15px;
  padding-left: 10px;
  font-size: 15px;
  font-family: sans-serif;
  outline: none;
  border: none;
}

.wifiInput::placeholder {
  color: grey;

}

.saveWifiConfigButton {
  width: 45px;
  height: 25px;
  border-radius: 15px;
  font-size: 15px;
  font-family: sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  margin-right: 20px;
  margin-top: 15px;
  font-weight: 600;
}

.wifiButtonWrapper {
  height: 50px;
}
